# App settings
DEBUG=True
API_HOST=localhost
API_PORT=8000

# AI settings
# При локальном запуске: http://localhost:11434
# В Docker: http://ollama:11434
OLLAMA_URL=http://localhost:11434

OLLAMA_MODEL=qwen2.5-coder:3b                   # Конфиг для разработки
# OLLAMA_MODEL=qwen2.5-coder:7b-instruct-q4_K_M # Конфиг для продакшина

# При локальном запуске: http://localhost:8081/validate
# В Docker: http://lua-sandbox:8081/validate
VALIDATOR_URL=http://localhost:8081/validate

MAX_RETRIES=2
